
<h1><%= @headset.name %></h1>
<p>
  <pre>
  <span class="inner-pre" style="font-size: 15px">
  	<%= @headset.code %> <br>	
  	<%= @headset.headsettype %> <br>
  	<%= @headset.brand %> <br>
  	<%= @headset.headsetmodel %> <br>
  	<%= @headset.connection %> <br>
  	<%= @headset.design %> <br>
  	<%= @headset.frequency %> <br>
  	<%= @headset.impedance %> <br>
  	<%= @headset.sensitivity %> <br>
  	<%= @headset.connectors %> <br>
  	<%= @headset.warranty %> <br>
  	<%= @headset.platform %> <br>
  	<%= @headset.other %> <br>
  	<%= @headset.price %> <br>
  </span> 
  </pre>
  <a href="/headsets/<%= @headset.id %>/edit">Edit</a>
</p>

