<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @karaoke_speaker.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @karaoke_speaker.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @karaoke_speaker.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @karaoke_speaker.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @karaoke_speaker.brandmodel %>
</p>

<p>
  <strong>Type:</strong>
  <%= @karaoke_speaker.kstype %>
</p>

<p>
  <strong>Soldas:</strong>
  <%= @karaoke_speaker.soldas %>
</p>

<p>
  <strong>Driverunits:</strong>
  <%= @karaoke_speaker.driverunits %>
</p>

<p>
  <strong>Frequencyresponse:</strong>
  <%= @karaoke_speaker.frequencyresponse %>
</p>

<p>
  <strong>Nominalimpedance:</strong>
  <%= @karaoke_speaker.nominalimpedance %>
</p>

<p>
  <strong>Sensitivity:</strong>
  <%= @karaoke_speaker.sensitivity %>
</p>

<p>
  <strong>Features:</strong>
  <%= @karaoke_speaker.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @karaoke_speaker.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @karaoke_speaker.weight %>
</p>

<p>
  <strong>Other:</strong>
  <%= @karaoke_speaker.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @karaoke_speaker.warranty %>
</p>

<%= link_to 'Edit', edit_karaoke_speaker_path(@karaoke_speaker) %> |
<%= link_to 'Back', karaoke_speakers_path %>
