<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @surveillance_power_supply.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @surveillance_power_supply.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @surveillance_power_supply.code %>
</p>

<p>
  <strong>Supplytype:</strong>
  <%= @surveillance_power_supply.supplytype %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @surveillance_power_supply.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @surveillance_power_supply.brandmodel %>
</p>

<p>
  <strong>Input:</strong>
  <%= @surveillance_power_supply.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @surveillance_power_supply.output %>
</p>

<p>
  <strong>Cordlength:</strong>
  <%= @surveillance_power_supply.cordlength %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @surveillance_power_supply.dimensions %>
</p>

<p>
  <strong>Other:</strong>
  <%= @surveillance_power_supply.other %>
</p>

<%= link_to 'Edit', edit_surveillance_power_supply_path(@surveillance_power_supply) %> |
<%= link_to 'Back', surveillance_power_supplies_path %>
