<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @other_medium.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @other_medium.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @other_medium.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @other_medium.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @other_medium.brandmodel %>
</p>

<p>
  <strong>Mediatype:</strong>
  <%= @other_medium.mediatype %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @other_medium.capacity %>
</p>

<p>
  <strong>Maxspeedsupported:</strong>
  <%= @other_medium.maxspeedsupported %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @other_medium.quantity %>
</p>

<p>
  <strong>Features:</strong>
  <%= @other_medium.features %>
</p>

<p>
  <strong>Packaging:</strong>
  <%= @other_medium.packaging %>
</p>

<p>
  <strong>Other:</strong>
  <%= @other_medium.other %>
</p>

<%= link_to 'Edit', edit_other_medium_path(@other_medium) %> |
<%= link_to 'Back', other_media_path %>
