<%= form_for(@tablet) do |f| %>
  <% if @tablet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tablet.errors.count, "error") %> prohibited this tablet from being saved:</h2>

      <ul>
      <% @tablet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :brandmodel %><br>
    <%= f.text_field :brandmodel %>
  </div>
  <div class="field">
    <%= f.label :os %><br>
    <%= f.text_field :os %>
  </div>
  <div class="field">
    <%= f.label :cputype %><br>
    <%= f.text_field :cputype %>
  </div>
  <div class="field">
    <%= f.label :cpuspeed %><br>
    <%= f.text_field :cpuspeed %>
  </div>
  <div class="field">
    <%= f.label :screensize %><br>
    <%= f.text_field :screensize %>
  </div>
  <div class="field">
    <%= f.label :touchscreen %><br>
    <%= f.text_field :touchscreen %>
  </div>
  <div class="field">
    <%= f.label :displaytype %><br>
    <%= f.text_field :displaytype %>
  </div>
  <div class="field">
    <%= f.label :lcdfeatures %><br>
    <%= f.text_field :lcdfeatures %>
  </div>
  <div class="field">
    <%= f.label :resolution %><br>
    <%= f.text_field :resolution %>
  </div>
  <div class="field">
    <%= f.label :frontcamera %><br>
    <%= f.text_field :frontcamera %>
  </div>
  <div class="field">
    <%= f.label :rearcamera %><br>
    <%= f.text_field :rearcamera %>
  </div>
  <div class="field">
    <%= f.label :gpuvpu %><br>
    <%= f.text_field :gpuvpu %>
  </div>
  <div class="field">
    <%= f.label :videomemory %><br>
    <%= f.text_field :videomemory %>
  </div>
  <div class="field">
    <%= f.label :builtinstorage %><br>
    <%= f.text_field :builtinstorage %>
  </div>
  <div class="field">
    <%= f.label :cardreader %><br>
    <%= f.text_field :cardreader %>
  </div>
  <div class="field">
    <%= f.label :memory %><br>
    <%= f.text_field :memory %>
  </div>
  <div class="field">
    <%= f.label :wlan %><br>
    <%= f.text_field :wlan %>
  </div>
  <div class="field">
    <%= f.label :bluetooth %><br>
    <%= f.text_field :bluetooth %>
  </div>
  <div class="field">
    <%= f.label :usb %><br>
    <%= f.text_field :usb %>
  </div>
  <div class="field">
    <%= f.label :hdmi %><br>
    <%= f.text_field :hdmi %>
  </div>
  <div class="field">
    <%= f.label :audioports %><br>
    <%= f.text_field :audioports %>
  </div>
  <div class="field">
    <%= f.label :audio %><br>
    <%= f.text_field :audio %>
  </div>
  <div class="field">
    <%= f.label :battery %><br>
    <%= f.text_field :battery %>
  </div>
  <div class="field">
    <%= f.label :service %><br>
    <%= f.text_field :service %>
  </div>
  <div class="field">
    <%= f.label :funcion %><br>
    <%= f.text_field :funcion %>
  </div>
  <div class="field">
    <%= f.label :dimensions %><br>
    <%= f.text_field :dimensions %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :warranty %><br>
    <%= f.text_area :warranty %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.text_area :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
