<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tablet.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tablet.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @tablet.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @tablet.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @tablet.brandmodel %>
</p>

<p>
  <strong>Os:</strong>
  <%= @tablet.os %>
</p>

<p>
  <strong>Cputype:</strong>
  <%= @tablet.cputype %>
</p>

<p>
  <strong>Cpuspeed:</strong>
  <%= @tablet.cpuspeed %>
</p>

<p>
  <strong>Screensize:</strong>
  <%= @tablet.screensize %>
</p>

<p>
  <strong>Touchscreen:</strong>
  <%= @tablet.touchscreen %>
</p>

<p>
  <strong>Displaytype:</strong>
  <%= @tablet.displaytype %>
</p>

<p>
  <strong>Lcdfeatures:</strong>
  <%= @tablet.lcdfeatures %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @tablet.resolution %>
</p>

<p>
  <strong>Frontcamera:</strong>
  <%= @tablet.frontcamera %>
</p>

<p>
  <strong>Rearcamera:</strong>
  <%= @tablet.rearcamera %>
</p>

<p>
  <strong>Gpuvpu:</strong>
  <%= @tablet.gpuvpu %>
</p>

<p>
  <strong>Videomemory:</strong>
  <%= @tablet.videomemory %>
</p>

<p>
  <strong>Builtinstorage:</strong>
  <%= @tablet.builtinstorage %>
</p>

<p>
  <strong>Cardreader:</strong>
  <%= @tablet.cardreader %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @tablet.memory %>
</p>

<p>
  <strong>Wlan:</strong>
  <%= @tablet.wlan %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @tablet.bluetooth %>
</p>

<p>
  <strong>Usb:</strong>
  <%= @tablet.usb %>
</p>

<p>
  <strong>Hdmi:</strong>
  <%= @tablet.hdmi %>
</p>

<p>
  <strong>Audioports:</strong>
  <%= @tablet.audioports %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @tablet.audio %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @tablet.battery %>
</p>

<p>
  <strong>Service:</strong>
  <%= @tablet.service %>
</p>

<p>
  <strong>Funcion:</strong>
  <%= @tablet.funcion %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @tablet.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @tablet.weight %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @tablet.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @tablet.other %>
</p>

<%= link_to 'Edit', edit_tablet_path(@tablet) %> |
<%= link_to 'Back', tablets_path %>
