
<h1><%= @computer_monitor.name %></h1>
<p>
  <pre>
  <span class="inner-pre" style="font-size: 15px">
  	<%= @computer_monitor.code %> <br>	
  	<%= @computer_monitor.brand %> <br>
  	<%= @computer_monitor.monitormodel %> <br>
    <%= @computer_monitor.monitortype %> <br>
    <%= @computer_monitor.paneltype %> <br>
    <%= @computer_monitor.display %> <br>
    <%= @computer_monitor.resolution %> <br>
    <%= @computer_monitor.ratio %> <br>
    <%= @computer_monitor.response %> <br>
    <%= @computer_monitor.contrast %> <br>
    <%= @computer_monitor.brightness %> <br>
    <%= @computer_monitor.displaycolors %> <br>
    <%= @computer_monitor.inputconnector %> <br>
    <%= @computer_monitor.touchscreen %> <br>
    <%= @computer_monitor.threed %> <br>
    <%= @computer_monitor.builtinspeaker %> <br>
    <%= @computer_monitor.usb %> <br>
    <%= @computer_monitor.tvtuner %> <br>
    <%= @computer_monitor.power %> <br>
    <%= @computer_monitor.heightadjustable %> <br>
    <%= @computer_monitor.tilt %> <br>
    <%= @computer_monitor.dimensions %> <br>
    <%= @computer_monitor.weight %> <br>
    <%= @computer_monitor.warranty %> <br>
  	<%= @computer_monitor.other%> <br>
  	<%= @computer_monitor.price %> <br>
  </span> 
  </pre>
  <a href="/computer_monitors/<%= @computer_monitor.id %>/edit">Edit</a>
</p>

