<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone_accessory.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @phone_accessory.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @phone_accessory.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @phone_accessory.brand %>
</p>

<p>
  <strong>Accessorymodel:</strong>
  <%= @phone_accessory.accessorymodel %>
</p>

<p>
  <strong>Accessorytype:</strong>
  <%= @phone_accessory.accessorytype %>
</p>

<p>
  <strong>Compatiblilty:</strong>
  <%= @phone_accessory.compatiblilty %>
</p>

<p>
  <strong>Features:</strong>
  <%= @phone_accessory.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @phone_accessory.dimensions %>
</p>

<p>
  <strong>Other:</strong>
  <%= @phone_accessory.other %>
</p>

<%= link_to 'Edit', edit_phone_accessory_path(@phone_accessory) %> |
<%= link_to 'Back', phone_accessories_path %>
