<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @network_dvr.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @network_dvr.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @network_dvr.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @network_dvr.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @network_dvr.brandmodel %>
</p>

<p>
  <strong>Supportedprotocols:</strong>
  <%= @network_dvr.supportedprotocols %>
</p>

<p>
  <strong>Networkinterface:</strong>
  <%= @network_dvr.networkinterface %>
</p>

<p>
  <strong>Videoinput:</strong>
  <%= @network_dvr.videoinput %>
</p>

<p>
  <strong>Videooutput:</strong>
  <%= @network_dvr.videooutput %>
</p>

<p>
  <strong>Framerate:</strong>
  <%= @network_dvr.framerate %>
</p>

<p>
  <strong>Compressionformat:</strong>
  <%= @network_dvr.compressionformat %>
</p>

<p>
  <strong>Storagecapacity:</strong>
  <%= @network_dvr.storagecapacity %>
</p>

<p>
  <strong>Powersupply:</strong>
  <%= @network_dvr.powersupply %>
</p>

<p>
  <strong>Temerature:</strong>
  <%= @network_dvr.temerature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @network_dvr.humidity %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @network_dvr.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @network_dvr.weight %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @network_dvr.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @network_dvr.other %>
</p>

<%= link_to 'Edit', edit_network_dvr_path(@network_dvr) %> |
<%= link_to 'Back', network_dvrs_path %>
