<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operating_system.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @operating_system.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @operating_system.code %>
</p>

<p>
  <strong>Disclaimer:</strong>
  <%= @operating_system.disclaimer %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @operating_system.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @operating_system.brandmodel %>
</p>

<p>
  <strong>Bitversion:</strong>
  <%= @operating_system.bitversion %>
</p>

<p>
  <strong>Version:</strong>
  <%= @operating_system.version %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @operating_system.systemrequirements %>
</p>

<p>
  <strong>Packaging:</strong>
  <%= @operating_system.packaging %>
</p>

<p>
  <strong>Features:</strong>
  <%= @operating_system.features %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @operating_system.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @operating_system.other %>
</p>

<%= link_to 'Edit', edit_operating_system_path(@operating_system) %> |
<%= link_to 'Back', operating_systems_path %>
