<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @android_tv.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @android_tv.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @android_tv.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @android_tv.brand %>
</p>

<p>
  <strong>Series:</strong>
  <%= @android_tv.series %>
</p>

<p>
  <strong>Tvmodel:</strong>
  <%= @android_tv.tvmodel %>
</p>

<p>
  <strong>Os:</strong>
  <%= @android_tv.os %>
</p>

<p>
  <strong>Cputype:</strong>
  <%= @android_tv.cputype %>
</p>

<p>
  <strong>Cpuspeed:</strong>
  <%= @android_tv.cpuspeed %>
</p>

<p>
  <strong>Cores:</strong>
  <%= @android_tv.cores %>
</p>

<p>
  <strong>Tech:</strong>
  <%= @android_tv.tech %>
</p>

<p>
  <strong>Screensize:</strong>
  <%= @android_tv.screensize %>
</p>

<p>
  <strong>Touchscreen:</strong>
  <%= @android_tv.touchscreen %>
</p>

<p>
  <strong>Lcdfeatures:</strong>
  <%= @android_tv.lcdfeatures %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @android_tv.resolution %>
</p>

<p>
  <strong>Webcam:</strong>
  <%= @android_tv.webcam %>
</p>

<p>
  <strong>Gpuvpu:</strong>
  <%= @android_tv.gpuvpu %>
</p>

<p>
  <strong>Videomemory:</strong>
  <%= @android_tv.videomemory %>
</p>

<p>
  <strong>Builtinstorage:</strong>
  <%= @android_tv.builtinstorage %>
</p>

<p>
  <strong>Cardreader:</strong>
  <%= @android_tv.cardreader %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @android_tv.memory %>
</p>

<p>
  <strong>Opticaldrive:</strong>
  <%= @android_tv.opticaldrive %>
</p>

<p>
  <strong>Wlan:</strong>
  <%= @android_tv.wlan %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @android_tv.bluetooth %>
</p>

<p>
  <strong>Usbport:</strong>
  <%= @android_tv.usbport %>
</p>

<p>
  <strong>Hdmi:</strong>
  <%= @android_tv.hdmi %>
</p>

<p>
  <strong>Audioports:</strong>
  <%= @android_tv.audioports %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @android_tv.audio %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @android_tv.battery %>
</p>

<p>
  <strong>Service:</strong>
  <%= @android_tv.service %>
</p>

<p>
  <strong>Otherfeatures:</strong>
  <%= @android_tv.otherfeatures %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @android_tv.warranty %>
</p>

<%= link_to 'Edit', edit_android_tv_path(@android_tv) %> |
<%= link_to 'Back', android_tvs_path %>
