<%= form_for(@security_camera) do |f| %>
  <% if @security_camera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@security_camera.errors.count, "error") %> prohibited this security_camera from being saved:</h2>

      <ul>
      <% @security_camera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :brandmodel %><br>
    <%= f.text_field :brandmodel %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :securitycameratype %><br>
    <%= f.text_field :securitycameratype %>
  </div>
  <div class="field">
    <%= f.label :cameratype %><br>
    <%= f.text_field :cameratype %>
  </div>
  <div class="field">
    <%= f.label :wirelessdatarate %><br>
    <%= f.text_field :wirelessdatarate %>
  </div>
  <div class="field">
    <%= f.label :sensor %><br>
    <%= f.text_field :sensor %>
  </div>
  <div class="field">
    <%= f.label :maxres %><br>
    <%= f.text_field :maxres %>
  </div>
  <div class="field">
    <%= f.label :videocaptureres %><br>
    <%= f.text_field :videocaptureres %>
  </div>
  <div class="field">
    <%= f.label :lenstype %><br>
    <%= f.text_field :lenstype %>
  </div>
  <div class="field">
    <%= f.label :shuttercontrol %><br>
    <%= f.text_field :shuttercontrol %>
  </div>
  <div class="field">
    <%= f.label :nightvision %><br>
    <%= f.text_field :nightvision %>
  </div>
  <div class="field">
    <%= f.label :features %><br>
    <%= f.text_area :features %>
  </div>
  <div class="field">
    <%= f.label :package %><br>
    <%= f.text_area :package %>
  </div>
  <div class="field">
    <%= f.label :warranty %><br>
    <%= f.text_area :warranty %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.text_area :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
