<p id="notice"><%= notice %></p>

<h1>Listing Security Cameras</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @security_cameras.each do |security_camera| %>
      <tr>
        <td><%= security_camera.name %></td>
        <td><%= security_camera.price %></td>
        
        <td><%= link_to 'Show', security_camera %></td>
        <td><%= link_to 'Edit', edit_security_camera_path(security_camera) %></td>
        <td><%= link_to 'Destroy', security_camera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Security camera', new_security_camera_path %>
