<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @security_camera.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @security_camera.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @security_camera.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @security_camera.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @security_camera.brandmodel %>
</p>

<p>
  <strong>Color:</strong>
  <%= @security_camera.color %>
</p>

<p>
  <strong>Securitycameratype:</strong>
  <%= @security_camera.securitycameratype %>
</p>

<p>
  <strong>Cameratype:</strong>
  <%= @security_camera.cameratype %>
</p>

<p>
  <strong>Wirelessdatarate:</strong>
  <%= @security_camera.wirelessdatarate %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @security_camera.sensor %>
</p>

<p>
  <strong>Maxres:</strong>
  <%= @security_camera.maxres %>
</p>

<p>
  <strong>Videocaptureres:</strong>
  <%= @security_camera.videocaptureres %>
</p>

<p>
  <strong>Lenstype:</strong>
  <%= @security_camera.lenstype %>
</p>

<p>
  <strong>Shuttercontrol:</strong>
  <%= @security_camera.shuttercontrol %>
</p>

<p>
  <strong>Nightvision:</strong>
  <%= @security_camera.nightvision %>
</p>

<p>
  <strong>Features:</strong>
  <%= @security_camera.features %>
</p>

<p>
  <strong>Package:</strong>
  <%= @security_camera.package %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @security_camera.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @security_camera.other %>
</p>

<%= link_to 'Edit', edit_security_camera_path(@security_camera) %> |
<%= link_to 'Back', security_cameras_path %>
