<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pc_accessory.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pc_accessory.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @pc_accessory.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @pc_accessory.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @pc_accessory.brandmodel %>
</p>

<p>
  <strong>Casetype:</strong>
  <%= @pc_accessory.casetype %>
</p>

<p>
  <strong>Color:</strong>
  <%= @pc_accessory.color %>
</p>

<p>
  <strong>Fitmostscreensize:</strong>
  <%= @pc_accessory.fitmostscreensize %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @pc_accessory.capacity %>
</p>

<p>
  <strong>Features:</strong>
  <%= @pc_accessory.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @pc_accessory.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pc_accessory.weight %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @pc_accessory.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @pc_accessory.other %>
</p>

<%= link_to 'Edit', edit_pc_accessory_path(@pc_accessory) %> |
<%= link_to 'Back', pc_accessories_path %>
