<p id="notice"><%= notice %></p>

<h1>Listing Powerline Adapters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @powerline_adapters.each do |powerline_adapter| %>
      <tr>
        <td><%= powerline_adapter.name %></td>
        <td><%= powerline_adapter.price %></td>
        
        <td><%= link_to 'Show', powerline_adapter %></td>
        <td><%= link_to 'Edit', edit_powerline_adapter_path(powerline_adapter) %></td>
        <td><%= link_to 'Destroy', powerline_adapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Powerline adapter', new_powerline_adapter_path %>
