<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @powerline_adapter.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @powerline_adapter.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @powerline_adapter.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @powerline_adapter.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @powerline_adapter.brandmodel %>
</p>

<p>
  <strong>Standards:</strong>
  <%= @powerline_adapter.standards %>
</p>

<p>
  <strong>Encryption:</strong>
  <%= @powerline_adapter.encryption %>
</p>

<p>
  <strong>Ports:</strong>
  <%= @powerline_adapter.ports %>
</p>

<p>
  <strong>Led:</strong>
  <%= @powerline_adapter.led %>
</p>

<p>
  <strong>Certifications:</strong>
  <%= @powerline_adapter.certifications %>
</p>

<p>
  <strong>Powerlinespeeds:</strong>
  <%= @powerline_adapter.powerlinespeeds %>
</p>

<p>
  <strong>Connectiontype:</strong>
  <%= @powerline_adapter.connectiontype %>
</p>

<p>
  <strong>Connectionspeeds:</strong>
  <%= @powerline_adapter.connectionspeeds %>
</p>

<p>
  <strong>Kittype:</strong>
  <%= @powerline_adapter.kittype %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @powerline_adapter.systemrequirements %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @powerline_adapter.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @powerline_adapter.humidity %>
</p>

<p>
  <strong>Features:</strong>
  <%= @powerline_adapter.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @powerline_adapter.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @powerline_adapter.weight %>
</p>

<p>
  <strong>Other:</strong>
  <%= @powerline_adapter.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @powerline_adapter.warranty %>
</p>

<%= link_to 'Edit', edit_powerline_adapter_path(@powerline_adapter) %> |
<%= link_to 'Back', powerline_adapters_path %>
