<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tv_tuner.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tv_tuner.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @tv_tuner.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @tv_tuner.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @tv_tuner.model %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tv_tuner.tunertype %>
</p>

<p>
  <strong>Tvtuner:</strong>
  <%= @tv_tuner.tvtuner %>
</p>

<p>
  <strong>Tvstandards:</strong>
  <%= @tv_tuner.tvstandards %>
</p>

<p>
  <strong>Remotecontrol:</strong>
  <%= @tv_tuner.remotecontrol %>
</p>

<p>
  <strong>Videoencoding:</strong>
  <%= @tv_tuner.videoencoding %>
</p>

<p>
  <strong>Tunerinterface:</strong>
  <%= @tv_tuner.tunerinterface %>
</p>

<p>
  <strong>Lowprofileready:</strong>
  <%= @tv_tuner.lowprofileready %>
</p>

<p>
  <strong>Fmtuner:</strong>
  <%= @tv_tuner.fmtuner %>
</p>

<p>
  <strong>Videoformat:</strong>
  <%= @tv_tuner.videoformat %>
</p>

<p>
  <strong>Portsin:</strong>
  <%= @tv_tuner.portsin %>
</p>

<p>
  <strong>Systemrequirments:</strong>
  <%= @tv_tuner.systemrequirments %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @tv_tuner.processor %>
</p>

<p>
  <strong>Graphicscard:</strong>
  <%= @tv_tuner.graphicscard %>
</p>

<p>
  <strong>Availableslot:</strong>
  <%= @tv_tuner.availableslot %>
</p>

<p>
  <strong>Os:</strong>
  <%= @tv_tuner.os %>
</p>

<p>
  <strong>Features:</strong>
  <%= @tv_tuner.features %>
</p>

<p>
  <strong>Packagecontent:</strong>
  <%= @tv_tuner.packagecontent %>
</p>

<p>
  <strong>Other:</strong>
  <%= @tv_tuner.other %>
</p>

<%= link_to 'Edit', edit_tv_tuner_path(@tv_tuner) %> |
<%= link_to 'Back', tv_tuners_path %>
