
<h1><%= @flash_digital.name %></h1>
<p>
  <pre>
  <span class="inner-pre" style="font-size: 15px">
  	<%= @flash_digital.code %> <br>	
  	<%= @flash_digital.storagetype %> <br>
    <%= @flash_digital.brand %> <br>
  	<%= @flash_digital.capacity %> <br>
  	<%= @flash_digital.color %> <br>
  	<%= @flash_digital.dimensions %> <br>
  	<%= @flash_digital.weight %> <br>
  	<%= @flash_digital.interface %> <br>
  	<%= @flash_digital.readspeed %> <br>
    <%= @flash_digital.writespeed %> <br>
  	<%= @flash_digital.systemrequirements %> <br>
  	<%= @flash_digital.warranty %> <br>
  	<%= @flash_digital.note %> <br>
  	<%= @flash_digital.price %> <br>
  </span> 
  </pre>
  <a href="/flash_digitals/<%= @flash_digital.id %>/edit">Edit</a>
</p>

