<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tv.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tv.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @tv.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @tv.brand %>
</p>

<p>
  <strong>Tvmodel:</strong>
  <%= @tv.tvmodel %>
</p>

<p>
  <strong>Screensize:</strong>
  <%= @tv.screensize %>
</p>

<p>
  <strong>Maxres:</strong>
  <%= @tv.maxres %>
</p>

<p>
  <strong>Aspectratio:</strong>
  <%= @tv.aspectratio %>
</p>

<p>
  <strong>Displaycolor:</strong>
  <%= @tv.displaycolor %>
</p>

<p>
  <strong>Brightness:</strong>
  <%= @tv.brightness %>
</p>

<p>
  <strong>Contrastratio:</strong>
  <%= @tv.contrastratio %>
</p>

<p>
  <strong>Response:</strong>
  <%= @tv.response %>
</p>

<p>
  <strong>Refreshrate:</strong>
  <%= @tv.refreshrate %>
</p>

<p>
  <strong>Video:</strong>
  <%= @tv.video %>
</p>

<p>
  <strong>Tuner:</strong>
  <%= @tv.tuner %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @tv.audio %>
</p>

<p>
  <strong>Hdmi:</strong>
  <%= @tv.hdmi %>
</p>

<p>
  <strong>Usb:</strong>
  <%= @tv.usb %>
</p>

<p>
  <strong>Digiatlaudio:</strong>
  <%= @tv.digiatlaudio %>
</p>

<p>
  <strong>Componentvideo:</strong>
  <%= @tv.componentvideo %>
</p>

<p>
  <strong>Otherconnectors:</strong>
  <%= @tv.otherconnectors %>
</p>

<p>
  <strong>Power:</strong>
  <%= @tv.power %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @tv.mount %>
</p>

<p>
  <strong>Features:</strong>
  <%= @tv.features %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @tv.dimension %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @tv.weight %>
</p>

<p>
  <strong>Other:</strong>
  <%= @tv.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @tv.warranty %>
</p>

<%= link_to 'Edit', edit_tv_path(@tv) %> |
<%= link_to 'Back', tvs_path %>
