<%= form_for(@webcam) do |f| %>
  <% if @webcam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webcam.errors.count, "error") %> prohibited this webcam from being saved:</h2>

      <ul>
      <% @webcam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :webcam_model %><br>
    <%= f.text_field :webcammodel %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br>
    <%= f.text_field :partnumber %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :interface %><br>
    <%= f.text_field :interface %>
  </div>
  <div class="field">
    <%= f.label :max_image_ressolution %><br>
    <%= f.text_field :maximageres %>
  </div>
  <div class="field">
    <%= f.label :video_capture_resolution %><br>
    <%= f.text_field :videocaptureres %>
  </div>
  <div class="field">
    <%= f.label :os_support %><br>
    <%= f.text_field :os %>
  </div>
  <div class="field">
    <%= f.label :features %><br>
    <%= f.text_area :features %>
  </div>
  <div class="field">
    <%= f.label :package %><br>
    <%= f.text_area :package %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.text_area :other %>
  </div>
  <div class="field">
    <%= f.label :warranty %><br>
    <%= f.text_area :warranty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
