<p id="notice"><%= notice %></p>

<h1>Listing Webcams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webcams.each do |webcam| %>
      <tr>
        <td><%= webcam.name %></td>
        <td><%= webcam.price %></td>
        <td><%= link_to 'Show', webcam %></td>
        <td><%= link_to 'Edit', edit_webcam_path(webcam) %></td>
        <td><%= link_to 'Destroy', webcam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webcam', new_webcam_path %>
