<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webcam.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @webcam.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @webcam.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @webcam.brand %>
</p>

<p>
  <strong>Webcammodel:</strong>
  <%= @webcam.webcammodel %>
</p>

<p>
  <strong>Partnumber:</strong>
  <%= @webcam.partnumber %>
</p>

<p>
  <strong>Color:</strong>
  <%= @webcam.color %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @webcam.interface %>
</p>

<p>
  <strong>Maximageres:</strong>
  <%= @webcam.maximageres %>
</p>

<p>
  <strong>Videocaptureres:</strong>
  <%= @webcam.videocaptureres %>
</p>

<p>
  <strong>Os:</strong>
  <%= @webcam.os %>
</p>

<p>
  <strong>Features:</strong>
  <%= @webcam.features %>
</p>

<p>
  <strong>Package:</strong>
  <%= @webcam.package %>
</p>

<p>
  <strong>Other:</strong>
  <%= @webcam.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @webcam.warranty %>
</p>

<%= link_to 'Edit', edit_webcam_path(@webcam) %> |
<%= link_to 'Back', webcams_path %>
