<p id="notice"><%= notice %></p>

<h1>Listing Networking Accessories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @networking_accessories.each do |networking_accessory| %>
      <tr>
        <td><%= networking_accessory.name %></td>
        <td><%= networking_accessory.price %></td>
        <td><%= link_to 'Show', networking_accessory %></td>
        <td><%= link_to 'Edit', edit_networking_accessory_path(networking_accessory) %></td>
        <td><%= link_to 'Destroy', networking_accessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Networking accessory', new_networking_accessory_path %>
