<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @networking_accessory.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @networking_accessory.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @networking_accessory.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @networking_accessory.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @networking_accessory.brandmodel %>
</p>

<p>
  <strong>Accessorytype:</strong>
  <%= @networking_accessory.accessorytype %>
</p>

<p>
  <strong>Features:</strong>
  <%= @networking_accessory.features %>
</p>

<p>
  <strong>Color:</strong>
  <%= @networking_accessory.color %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @networking_accessory.dimensions %>
</p>

<p>
  <strong>Details:</strong>
  <%= @networking_accessory.details %>
</p>

<p>
  <strong>Other:</strong>
  <%= @networking_accessory.other %>
</p>

<%= link_to 'Edit', edit_networking_accessory_path(@networking_accessory) %> |
<%= link_to 'Back', networking_accessories_path %>
