<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @router.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @router.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @router.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @router.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @router.brandmodel %>
</p>

<p>
  <strong>Standards:</strong>
  <%= @router.standards %>
</p>

<p>
  <strong>Devicemanagement:</strong>
  <%= @router.devicemanagement %>
</p>

<p>
  <strong>Security:</strong>
  <%= @router.security %>
</p>

<p>
  <strong>Wpawpa2:</strong>
  <%= @router.wpawpa2 %>
</p>

<p>
  <strong>Wanports:</strong>
  <%= @router.wanports %>
</p>

<p>
  <strong>Lanports:</strong>
  <%= @router.lanports %>
</p>

<p>
  <strong>Led:</strong>
  <%= @router.led %>
</p>

<p>
  <strong>Buttons:</strong>
  <%= @router.buttons %>
</p>

<p>
  <strong>Wirelessdatarates:</strong>
  <%= @router.wirelessdatarates %>
</p>

<p>
  <strong>Frequencyband:</strong>
  <%= @router.frequencyband %>
</p>

<p>
  <strong>Antenna:</strong>
  <%= @router.antenna %>
</p>

<p>
  <strong>Channels:</strong>
  <%= @router.channels %>
</p>

<p>
  <strong>Transmittedpower:</strong>
  <%= @router.transmittedpower %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @router.interface %>
</p>

<p>
  <strong>Poweradapter:</strong>
  <%= @router.poweradapter %>
</p>

<p>
  <strong>Wirelessadapterincluded:</strong>
  <%= @router.wirelessadapterincluded %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @router.systemrequirements %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @router.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @router.weight %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @router.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @router.humidity %>
</p>

<p>
  <strong>Features:</strong>
  <%= @router.features %>
</p>

<p>
  <strong>Package:</strong>
  <%= @router.package %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @router.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @router.other %>
</p>

<%= link_to 'Edit', edit_router_path(@router) %> |
<%= link_to 'Back', routers_path %>
