<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dvd_medium.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dvd_medium.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @dvd_medium.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @dvd_medium.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @dvd_medium.brandmodel %>
</p>

<p>
  <strong>Mediatype:</strong>
  <%= @dvd_medium.mediatype %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @dvd_medium.capacity %>
</p>

<p>
  <strong>Maxspeedsupported:</strong>
  <%= @dvd_medium.maxspeedsupported %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @dvd_medium.quantity %>
</p>

<p>
  <strong>Features:</strong>
  <%= @dvd_medium.features %>
</p>

<p>
  <strong>Packaging:</strong>
  <%= @dvd_medium.packaging %>
</p>

<p>
  <strong>Other:</strong>
  <%= @dvd_medium.other %>
</p>

<%= link_to 'Edit', edit_dvd_medium_path(@dvd_medium) %> |
<%= link_to 'Back', dvd_media_path %>
