<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @led_sign.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @led_sign.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @led_sign.code %>
</p>

<p>
  <strong>Signmodel:</strong>
  <%= @led_sign.signmodel %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @led_sign.colors %>
</p>

<p>
  <strong>Volts:</strong>
  <%= @led_sign.volts %>
</p>

<p>
  <strong>Datatransfer:</strong>
  <%= @led_sign.datatransfer %>
</p>

<p>
  <strong>Features:</strong>
  <%= @led_sign.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @led_sign.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @led_sign.weight %>
</p>

<p>
  <strong>Other:</strong>
  <%= @led_sign.other %>
</p>

<%= link_to 'Edit', edit_led_sign_path(@led_sign) %> |
<%= link_to 'Back', led_signs_path %>
