<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @server.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @server.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @server.brand %>
</p>

<p>
  <strong>Series:</strong>
  <%= @server.series %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @server.brandmodel %>
</p>

<p>
  <strong>Servertype:</strong>
  <%= @server.servertype %>
</p>

<p>
  <strong>Cputype:</strong>
  <%= @server.cputype %>
</p>

<p>
  <strong>Cpusocket:</strong>
  <%= @server.cpusocket %>
</p>

<p>
  <strong>Numberofcpucores:</strong>
  <%= @server.numberofcpucores %>
</p>

<p>
  <strong>Cachememory:</strong>
  <%= @server.cachememory %>
</p>

<p>
  <strong>Installedmemorysize:</strong>
  <%= @server.installedmemorysize %>
</p>

<p>
  <strong>Memorytype:</strong>
  <%= @server.memorytype %>
</p>

<p>
  <strong>Maxmemorycapacity:</strong>
  <%= @server.maxmemorycapacity %>
</p>

<p>
  <strong>Memoryfeatures:</strong>
  <%= @server.memoryfeatures %>
</p>

<p>
  <strong>Numberofmemoryslots:</strong>
  <%= @server.numberofmemoryslots %>
</p>

<p>
  <strong>Harddrive:</strong>
  <%= @server.harddrive %>
</p>

<p>
  <strong>Raidlevel:</strong>
  <%= @server.raidlevel %>
</p>

<p>
  <strong>Mediadrives:</strong>
  <%= @server.mediadrives %>
</p>

<p>
  <strong>Expansionslot:</strong>
  <%= @server.expansionslot %>
</p>

<p>
  <strong>Expansionbays:</strong>
  <%= @server.expansionbays %>
</p>

<p>
  <strong>Os:</strong>
  <%= @server.os %>
</p>

<p>
  <strong>Powercharacteristics:</strong>
  <%= @server.powercharacteristics %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @server.weight %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @server.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @server.other %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
