<p id="notice"><%= notice %></p>

<h1>Listing Bluray Storages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bluray_storages.each do |bluray_storage| %>
      <tr>
        <td><%= bluray_storage.name %></td>
        <td><%= bluray_storage.price %></td>
       
        <td><%= link_to 'Show', bluray_storage %></td>
        <td><%= link_to 'Edit', edit_bluray_storage_path(bluray_storage) %></td>
        <td><%= link_to 'Destroy', bluray_storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bluray storage', new_bluray_storage_path %>
