<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bluray_storage.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bluray_storage.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @bluray_storage.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @bluray_storage.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @bluray_storage.brandmodel %>
</p>

<p>
  <strong>Storagetype:</strong>
  <%= @bluray_storage.storagetype %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @bluray_storage.capacity %>
</p>

<p>
  <strong>Maxspeedsupported:</strong>
  <%= @bluray_storage.maxspeedsupported %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bluray_storage.quantity %>
</p>

<p>
  <strong>Surfacetop:</strong>
  <%= @bluray_storage.surfacetop %>
</p>

<p>
  <strong>Features:</strong>
  <%= @bluray_storage.features %>
</p>

<p>
  <strong>Packaging:</strong>
  <%= @bluray_storage.packaging %>
</p>

<p>
  <strong>Other:</strong>
  <%= @bluray_storage.other %>
</p>

<%= link_to 'Edit', edit_bluray_storage_path(@bluray_storage) %> |
<%= link_to 'Back', bluray_storages_path %>
