<p id="notice"><%= notice %></p>

<h1>Listing Network Switches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @network_switches.each do |network_switch| %>
      <tr>
        <td><%= network_switch.name %></td>
        <td><%= network_switch.price %></td>
        <td><%= link_to 'Show', network_switch %></td>
        <td><%= link_to 'Edit', edit_network_switch_path(network_switch) %></td>
        <td><%= link_to 'Destroy', network_switch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Network switch', new_network_switch_path %>
