<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @network_switch.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @network_switch.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @network_switch.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @network_switch.brand %>
</p>

<p>
  <strong>Series:</strong>
  <%= @network_switch.series %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @network_switch.brandmodel %>
</p>

<p>
  <strong>Format:</strong>
  <%= @network_switch.format %>
</p>

<p>
  <strong>Standards:</strong>
  <%= @network_switch.standards %>
</p>

<p>
  <strong>Primaryports:</strong>
  <%= @network_switch.primaryports %>
</p>

<p>
  <strong>Primaryportspeed:</strong>
  <%= @network_switch.primaryportspeed %>
</p>

<p>
  <strong>Layer:</strong>
  <%= @network_switch.layer %>
</p>

<p>
  <strong>Power:</strong>
  <%= @network_switch.power %>
</p>

<p>
  <strong>Features:</strong>
  <%= @network_switch.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @network_switch.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @network_switch.weight %>
</p>

<p>
  <strong>Package:</strong>
  <%= @network_switch.package %>
</p>

<p>
  <strong>Other:</strong>
  <%= @network_switch.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @network_switch.warranty %>
</p>

<%= link_to 'Edit', edit_network_switch_path(@network_switch) %> |
<%= link_to 'Back', network_switches_path %>
