<p id="notice"><%= notice %></p>

<h1>Listing Wireless Routers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wireless_routers.each do |wireless_router| %>
      <tr>
        <td><%= wireless_router.name %></td>
        <td><%= wireless_router.price %></td>
        <td><%= link_to 'Show', wireless_router %></td>
        <td><%= link_to 'Edit', edit_wireless_router_path(wireless_router) %></td>
        <td><%= link_to 'Destroy', wireless_router, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wireless router', new_wireless_router_path %>
