<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wireless_router.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wireless_router.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @wireless_router.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @wireless_router.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @wireless_router.brandmodel %>
</p>

<p>
  <strong>Standards:</strong>
  <%= @wireless_router.standards %>
</p>

<p>
  <strong>Devicemanagement:</strong>
  <%= @wireless_router.devicemanagement %>
</p>

<p>
  <strong>Secrurity:</strong>
  <%= @wireless_router.secrurity %>
</p>

<p>
  <strong>Wpawpa2:</strong>
  <%= @wireless_router.wpawpa2 %>
</p>

<p>
  <strong>Wanports:</strong>
  <%= @wireless_router.wanports %>
</p>

<p>
  <strong>Lanports:</strong>
  <%= @wireless_router.lanports %>
</p>

<p>
  <strong>Led:</strong>
  <%= @wireless_router.led %>
</p>

<p>
  <strong>Buttons:</strong>
  <%= @wireless_router.buttons %>
</p>

<p>
  <strong>Wirelessdatarates:</strong>
  <%= @wireless_router.wirelessdatarates %>
</p>

<p>
  <strong>Frequencyband:</strong>
  <%= @wireless_router.frequencyband %>
</p>

<p>
  <strong>Antenna:</strong>
  <%= @wireless_router.antenna %>
</p>

<p>
  <strong>Channels:</strong>
  <%= @wireless_router.channels %>
</p>

<p>
  <strong>Transmittedpower:</strong>
  <%= @wireless_router.transmittedpower %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @wireless_router.interface %>
</p>

<p>
  <strong>Poweradapter:</strong>
  <%= @wireless_router.poweradapter %>
</p>

<p>
  <strong>Wirelessadapterincuded:</strong>
  <%= @wireless_router.wirelessadapterincuded %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @wireless_router.systemrequirements %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @wireless_router.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @wireless_router.weight %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @wireless_router.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @wireless_router.humidity %>
</p>

<p>
  <strong>Features:</strong>
  <%= @wireless_router.features %>
</p>

<p>
  <strong>Package:</strong>
  <%= @wireless_router.package %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @wireless_router.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @wireless_router.other %>
</p>

<%= link_to 'Edit', edit_wireless_router_path(@wireless_router) %> |
<%= link_to 'Back', wireless_routers_path %>
