<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tv_mount.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tv_mount.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @tv_mount.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @tv_mount.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @tv_mount.brandmodel %>
</p>

<p>
  <strong>Tvsizecapacity:</strong>
  <%= @tv_mount.tvsizecapacity %>
</p>

<p>
  <strong>Tvweightcapacity:</strong>
  <%= @tv_mount.tvweightcapacity %>
</p>

<p>
  <strong>Vesacompatible:</strong>
  <%= @tv_mount.vesacompatible %>
</p>

<p>
  <strong>Features:</strong>
  <%= @tv_mount.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @tv_mount.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @tv_mount.weight %>
</p>

<p>
  <strong>Other:</strong>
  <%= @tv_mount.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @tv_mount.warranty %>
</p>

<%= link_to 'Edit', edit_tv_mount_path(@tv_mount) %> |
<%= link_to 'Back', tv_mounts_path %>
