<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home_office.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home_office.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @home_office.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @home_office.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @home_office.brandmodel %>
</p>

<p>
  <strong>Officetype:</strong>
  <%= @home_office.officetype %>
</p>

<p>
  <strong>Name:</strong>
  <%= @home_office.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @home_office.version %>
</p>

<p>
  <strong>Os:</strong>
  <%= @home_office.os %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @home_office.systemrequirements %>
</p>

<p>
  <strong>Features:</strong>
  <%= @home_office.features %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @home_office.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @home_office.other %>
</p>

<%= link_to 'Edit', edit_home_office_path(@home_office) %> |
<%= link_to 'Back', home_offices_path %>
