<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video_card.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @video_card.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @video_card.code %>
</p>

<p>
  <strong>Videocardtype:</strong>
  <%= @video_card.videocardtype %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @video_card.brand %>
</p>

<p>
  <strong>Cardmodel:</strong>
  <%= @video_card.cardmodel %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @video_card.interface %>
</p>

<p>
  <strong>Chipsetmanufacturer:</strong>
  <%= @video_card.chipsetmanufacturer %>
</p>

<p>
  <strong>Gpu:</strong>
  <%= @video_card.gpu %>
</p>

<p>
  <strong>Coreclock:</strong>
  <%= @video_card.coreclock %>
</p>

<p>
  <strong>Boostclock:</strong>
  <%= @video_card.boostclock %>
</p>

<p>
  <strong>Cudacores:</strong>
  <%= @video_card.cudacores %>
</p>

<p>
  <strong>Memoryclock:</strong>
  <%= @video_card.memoryclock %>
</p>

<p>
  <strong>Memorysize:</strong>
  <%= @video_card.memorysize %>
</p>

<p>
  <strong>Memoryinterface:</strong>
  <%= @video_card.memoryinterface %>
</p>

<p>
  <strong>Memorytype:</strong>
  <%= @video_card.memorytype %>
</p>

<p>
  <strong>Directx:</strong>
  <%= @video_card.directx %>
</p>

<p>
  <strong>Opengl:</strong>
  <%= @video_card.opengl %>
</p>

<p>
  <strong>Hdmiport:</strong>
  <%= @video_card.hdmiport %>
</p>

<p>
  <strong>Multimonitorsupport:</strong>
  <%= @video_card.multimonitorsupport %>
</p>

<p>
  <strong>Displayport:</strong>
  <%= @video_card.displayport %>
</p>

<p>
  <strong>Dvi:</strong>
  <%= @video_card.dvi %>
</p>

<p>
  <strong>Ramdac:</strong>
  <%= @video_card.ramdac %>
</p>

<p>
  <strong>Maxres:</strong>
  <%= @video_card.maxres %>
</p>

<p>
  <strong>Threedvisionready:</strong>
  <%= @video_card.threedvisionready %>
</p>

<p>
  <strong>Slisupport:</strong>
  <%= @video_card.slisupport %>
</p>

<p>
  <strong>Virtualrealityready:</strong>
  <%= @video_card.virtualrealityready %>
</p>

<p>
  <strong>Cooler:</strong>
  <%= @video_card.cooler %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @video_card.systemrequirements %>
</p>

<p>
  <strong>Powerconnector:</strong>
  <%= @video_card.powerconnector %>
</p>

<p>
  <strong>Duallinkdvi:</strong>
  <%= @video_card.duallinkdvi %>
</p>

<p>
  <strong>Hdcpready:</strong>
  <%= @video_card.hdcpready %>
</p>

<p>
  <strong>Features:</strong>
  <%= @video_card.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @video_card.dimensions %>
</p>

<p>
  <strong>Slotwidth:</strong>
  <%= @video_card.slotwidth %>
</p>

<p>
  <strong>Package:</strong>
  <%= @video_card.package %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @video_card.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @video_card.other %>
</p>

<%= link_to 'Edit', edit_video_card_path(@video_card) %> |
<%= link_to 'Back', video_cards_path %>
