<p id="notice"><%= notice %></p>

<h1>Listing Network Cameras</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @network_cameras.each do |network_camera| %>
      <tr>
        <td><%= network_camera.name %></td>
        <td><%= network_camera.price %></td>
        
        <td><%= link_to 'Show', network_camera %></td>
        <td><%= link_to 'Edit', edit_network_camera_path(network_camera) %></td>
        <td><%= link_to 'Destroy', network_camera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Network camera', new_network_camera_path %>
