<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @network_camera.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @network_camera.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @network_camera.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @network_camera.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @network_camera.brandmodel %>
</p>

<p>
  <strong>Cameratype:</strong>
  <%= @network_camera.cameratype %>
</p>

<p>
  <strong>Connectiontype:</strong>
  <%= @network_camera.connectiontype %>
</p>

<p>
  <strong>Wirelessstandard:</strong>
  <%= @network_camera.wirelessstandard %>
</p>

<p>
  <strong>Wirelessdatarate:</strong>
  <%= @network_camera.wirelessdatarate %>
</p>

<p>
  <strong>Ports:</strong>
  <%= @network_camera.ports %>
</p>

<p>
  <strong>Networkingprotocol:</strong>
  <%= @network_camera.networkingprotocol %>
</p>

<p>
  <strong>Zoom:</strong>
  <%= @network_camera.zoom %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @network_camera.sensor %>
</p>

<p>
  <strong>Maxres:</strong>
  <%= @network_camera.maxres %>
</p>

<p>
  <strong>Videocaptureres:</strong>
  <%= @network_camera.videocaptureres %>
</p>

<p>
  <strong>Framerate:</strong>
  <%= @network_camera.framerate %>
</p>

<p>
  <strong>Lenstype:</strong>
  <%= @network_camera.lenstype %>
</p>

<p>
  <strong>Security:</strong>
  <%= @network_camera.security %>
</p>

<p>
  <strong>Os:</strong>
  <%= @network_camera.os %>
</p>

<p>
  <strong>Features:</strong>
  <%= @network_camera.features %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @network_camera.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @network_camera.other %>
</p>

<%= link_to 'Edit', edit_network_camera_path(@network_camera) %> |
<%= link_to 'Back', network_cameras_path %>
