<%= form_for(@modem) do |f| %>
  <% if @modem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modem.errors.count, "error") %> prohibited this modem from being saved:</h2>

      <ul>
      <% @modem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :brandmodel %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :modemtype %>
  </div>
  <div class="field">
    <%= f.label :interface %><br>
    <%= f.text_area :interface %>
  </div>
  <div class="field">
    <%= f.label :standards %><br>
    <%= f.text_field :standards %>
  </div>
  <div class="field">
    <%= f.label :features %><br>
    <%= f.text_area :features %>
  </div>
  <div class="field">
    <%= f.label :package %><br>
    <%= f.text_area :package %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.text_area :other %>
  </div>
  <div class="field">
    <%= f.label :warranty %><br>
    <%= f.text_area :warranty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
