<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @modem.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @modem.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @modem.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @modem.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @modem.brandmodel %>
</p>

<p>
  <strong>Modemtype:</strong>
  <%= @modem.modemtype %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @modem.interface %>
</p>

<p>
  <strong>Standards:</strong>
  <%= @modem.standards %>
</p>

<p>
  <strong>Features:</strong>
  <%= @modem.features %>
</p>

<p>
  <strong>Package:</strong>
  <%= @modem.package %>
</p>

<p>
  <strong>Other:</strong>
  <%= @modem.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @modem.warranty %>
</p>

<%= link_to 'Edit', edit_modem_path(@modem) %> |
<%= link_to 'Back', modems_path %>
