<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @camera.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @camera.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @camera.code %>
</p>

<p>
  <strong>Cameramodel:</strong>
  <%= @camera.cameramodel %>
</p>

<p>
  <strong>Details:</strong>
  <%= @camera.details %>
</p>

<p>
  <strong>Imagesensor:</strong>
  <%= @camera.imagesensor %>
</p>

<p>
  <strong>Whitebalance:</strong>
  <%= @camera.whitebalance %>
</p>

<p>
  <strong>Viewfinder:</strong>
  <%= @camera.viewfinder %>
</p>

<p>
  <strong>Lcdmonitor:</strong>
  <%= @camera.lcdmonitor %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @camera.focus %>
</p>

<p>
  <strong>Exposure:</strong>
  <%= @camera.exposure %>
</p>

<p>
  <strong>Shutter:</strong>
  <%= @camera.shutter %>
</p>

<p>
  <strong>Flash:</strong>
  <%= @camera.flash %>
</p>

<p>
  <strong>Drive:</strong>
  <%= @camera.drive %>
</p>

<p>
  <strong>Function:</strong>
  <%= @camera.function %>
</p>

<p>
  <strong>Recording:</strong>
  <%= @camera.recording %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @camera.movie %>
</p>

<p>
  <strong>Lens:</strong>
  <%= @camera.lens %>
</p>

<p>
  <strong>Other:</strong>
  <%= @camera.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @camera.warranty %>
</p>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
