<p id="notice"><%= notice %></p>

<h1>Listing Wireless Adapters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wireless_adapters.each do |wireless_adapter| %>
      <tr>
        <td><%= wireless_adapter.name %></td>
        <td><%= wireless_adapter.price %></td>
        <td><%= link_to 'Show', wireless_adapter %></td>
        <td><%= link_to 'Edit', edit_wireless_adapter_path(wireless_adapter) %></td>
        <td><%= link_to 'Destroy', wireless_adapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wireless adapter', new_wireless_adapter_path %>
