<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home_theater_system.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home_theater_system.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @home_theater_system.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @home_theater_system.brand %>
</p>

<p>
  <strong>Homemodel:</strong>
  <%= @home_theater_system.homemodel %>
</p>

<p>
  <strong>Channels:</strong>
  <%= @home_theater_system.channels %>
</p>

<p>
  <strong>Speakerpowerrating:</strong>
  <%= @home_theater_system.speakerpowerrating %>
</p>

<p>
  <strong>Speakerfrequency:</strong>
  <%= @home_theater_system.speakerfrequency %>
</p>

<p>
  <strong>Features:</strong>
  <%= @home_theater_system.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @home_theater_system.dimensions %>
</p>

<p>
  <strong>Other:</strong>
  <%= @home_theater_system.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @home_theater_system.warranty %>
</p>

<%= link_to 'Edit', edit_home_theater_system_path(@home_theater_system) %> |
<%= link_to 'Back', home_theater_systems_path %>
