<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @surveillance_cable.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @surveillance_cable.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @surveillance_cable.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @surveillance_cable.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @surveillance_cable.brandmodel %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @surveillance_cable.cat %>
</p>

<p>
  <strong>Length:</strong>
  <%= @surveillance_cable.length %>
</p>

<p>
  <strong>Color:</strong>
  <%= @surveillance_cable.color %>
</p>

<p>
  <strong>Shielded:</strong>
  <%= @surveillance_cable.shielded %>
</p>

<p>
  <strong>Features:</strong>
  <%= @surveillance_cable.features %>
</p>

<p>
  <strong>Other:</strong>
  <%= @surveillance_cable.other %>
</p>

<%= link_to 'Edit', edit_surveillance_cable_path(@surveillance_cable) %> |
<%= link_to 'Back', surveillance_cables_path %>
