<p id="notice"><%= notice %></p>

<h1>Listing Sound Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sound_cards.each do |sound_card| %>
      <tr>
        <td><%= sound_card.name %></td>
        <td><%= sound_card.price %></td>
        <td><%= link_to 'Show', sound_card %></td>
        <td><%= link_to 'Edit', edit_sound_card_path(sound_card) %></td>
        <td><%= link_to 'Destroy', sound_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sound card', new_sound_card_path %>
