<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sound_card.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sound_card.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @sound_card.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @sound_card.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @sound_card.model %>
</p>

<p>
  <strong>Chipset:</strong>
  <%= @sound_card.chipset %>
</p>

<p>
  <strong>Channels:</strong>
  <%= @sound_card.channels %>
</p>

<p>
  <strong>Samplerate:</strong>
  <%= @sound_card.samplerate %>
</p>

<p>
  <strong>Digitalaudio:</strong>
  <%= @sound_card.digitalaudio %>
</p>

<p>
  <strong>Snr:</strong>
  <%= @sound_card.snr %>
</p>

<p>
  <strong>Linein:</strong>
  <%= @sound_card.linein %>
</p>

<p>
  <strong>Lineout:</strong>
  <%= @sound_card.lineout %>
</p>

<p>
  <strong>Spdif:</strong>
  <%= @sound_card.spdif %>
</p>

<p>
  <strong>Mic:</strong>
  <%= @sound_card.mic %>
</p>

<p>
  <strong>Auxport:</strong>
  <%= @sound_card.auxport %>
</p>

<p>
  <strong>Otherport:</strong>
  <%= @sound_card.otherport %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @sound_card.interface %>
</p>

<p>
  <strong>Os:</strong>
  <%= @sound_card.os %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @sound_card.systemrequirements %>
</p>

<p>
  <strong>Features:</strong>
  <%= @sound_card.features %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @sound_card.dimension %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @sound_card.weight %>
</p>

<p>
  <strong>Packagecontents:</strong>
  <%= @sound_card.packagecontents %>
</p>

<p>
  <strong>Plug:</strong>
  <%= @sound_card.plug %>
</p>

<p>
  <strong>Other:</strong>
  <%= @sound_card.other %>
</p>

<%= link_to 'Edit', edit_sound_card_path(@sound_card) %> |
<%= link_to 'Back', sound_cards_path %>
