<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @printer.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @printer.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @printer.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @printer.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @printer.model %>
</p>

<p>
  <strong>Printertype:</strong>
  <%= @printer.printertype %>
</p>

<p>
  <strong>Printtechnology:</strong>
  <%= @printer.printtechnology %>
</p>

<p>
  <strong>Outputtype:</strong>
  <%= @printer.outputtype %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @printer.resolution %>
</p>

<p>
  <strong>Blackspeed:</strong>
  <%= @printer.blackspeed %>
</p>

<p>
  <strong>Colorspeed:</strong>
  <%= @printer.colorspeed %>
</p>

<p>
  <strong>Connectivity:</strong>
  <%= @printer.connectivity %>
</p>

<p>
  <strong>Duplex:</strong>
  <%= @printer.duplex %>
</p>

<p>
  <strong>Maxdutycycle:</strong>
  <%= @printer.maxdutycycle %>
</p>

<p>
  <strong>Inputcapacity:</strong>
  <%= @printer.inputcapacity %>
</p>

<p>
  <strong>Mediasize:</strong>
  <%= @printer.mediasize %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @printer.processor %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @printer.memory %>
</p>

<p>
  <strong>Function:</strong>
  <%= @printer.function %>
</p>

<p>
  <strong>Copy:</strong>
  <%= @printer.copy %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @printer.fax %>
</p>

<p>
  <strong>Capability:</strong>
  <%= @printer.capability %>
</p>

<p>
  <strong>Scanner:</strong>
  <%= @printer.scanner %>
</p>

<p>
  <strong>Scanresolution:</strong>
  <%= @printer.scanresolution %>
</p>

<p>
  <strong>Autodocumentfeeder:</strong>
  <%= @printer.autodocumentfeeder %>
</p>

<p>
  <strong>Powerconsumption:</strong>
  <%= @printer.powerconsumption %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @printer.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @printer.weight %>
</p>

<p>
  <strong>Cartridges:</strong>
  <%= @printer.cartridges %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @printer.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @printer.other %>
</p>

<%= link_to 'Edit', edit_printer_path(@printer) %> |
<%= link_to 'Back', printers_path %>
