
<h1><%= @memory.name %></h1>
<p>
  <pre>
  <span class="inner-pre" style="font-size: 15px">
  	<%= @memory.code %> <br>	
  	<%= @memory.brand %> <br>
  	<%= @memory.memorytype %> <br>
  	<%= @memory.mpn %> <br>
  	<%= @memory.manufacturer%> <br>
  	<%= @memory.website%> <br>
  	<%= @memory.marketinginfo%> <br>
    <%= @memory.productline %> <br>
    <%= @memory.producttype %> <br>
    <%= @memory.errorchecking %> <br>
    <%= @memory.memorysize %> <br>
    <%= @memory.memoryspeed %> <br>
    <%= @memory.memorystandard %> <br>
    <%= @memory.memorytech %> <br>
    <%= @memory.signalprocessing %> <br>
    <%= @memory.formfactor %> <br>
    <%= @memory.length %> <br>
    <%= @memory.pins %> <br>
    <%= @memory.width %> <br>
    <%= @memory.caslatency %> <br>
    <%= @memory.voltage %> <br>
    <%= @memory.modules %> <br>
  	<%= @memory.price %> <br>
  </span> 
  </pre>
  <a href="/memories/<%= @memory.id %>/edit">Edit</a>
</p>

