<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laptop.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @laptop.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @laptop.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @laptop.brand %>
</p>

<p>
  <strong>Series:</strong>
  <%= @laptop.series %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @laptop.brandmodel %>
</p>

<p>
  <strong>Partnumber:</strong>
  <%= @laptop.partnumber %>
</p>

<p>
  <strong>Cputype:</strong>
  <%= @laptop.cputype %>
</p>

<p>
  <strong>Cpuspeed:</strong>
  <%= @laptop.cpuspeed %>
</p>

<p>
  <strong>Corename:</strong>
  <%= @laptop.corename %>
</p>

<p>
  <strong>Turbofrequency:</strong>
  <%= @laptop.turbofrequency %>
</p>

<p>
  <strong>Numberofcores:</strong>
  <%= @laptop.numberofcores %>
</p>

<p>
  <strong>Cpul3cache:</strong>
  <%= @laptop.cpul3cache %>
</p>

<p>
  <strong>Screensize:</strong>
  <%= @laptop.screensize %>
</p>

<p>
  <strong>Touchscreen:</strong>
  <%= @laptop.touchscreen %>
</p>

<p>
  <strong>Widescreensupport:</strong>
  <%= @laptop.widescreensupport %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @laptop.resolution %>
</p>

<p>
  <strong>Lcdfeatures:</strong>
  <%= @laptop.lcdfeatures %>
</p>

<p>
  <strong>Os:</strong>
  <%= @laptop.os %>
</p>

<p>
  <strong>Gpuvpu:</strong>
  <%= @laptop.gpuvpu %>
</p>

<p>
  <strong>Videomemory:</strong>
  <%= @laptop.videomemory %>
</p>

<p>
  <strong>Graphictype:</strong>
  <%= @laptop.graphictype %>
</p>

<p>
  <strong>Hdd:</strong>
  <%= @laptop.hdd %>
</p>

<p>
  <strong>Hddrpm:</strong>
  <%= @laptop.hddrpm %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @laptop.memory %>
</p>

<p>
  <strong>Memoryspeed:</strong>
  <%= @laptop.memoryspeed %>
</p>

<p>
  <strong>Memoryspec:</strong>
  <%= @laptop.memoryspec %>
</p>

<p>
  <strong>Memoryslottotal:</strong>
  <%= @laptop.memoryslottotal %>
</p>

<p>
  <strong>Memoryslotavailable:</strong>
  <%= @laptop.memoryslotavailable %>
</p>

<p>
  <strong>Maxmemorysupported:</strong>
  <%= @laptop.maxmemorysupported %>
</p>

<p>
  <strong>Opticaldrivetype:</strong>
  <%= @laptop.opticaldrivetype %>
</p>

<p>
  <strong>Wlan:</strong>
  <%= @laptop.wlan %>
</p>

<p>
  <strong>Bluetooth:</strong>
  <%= @laptop.bluetooth %>
</p>

<p>
  <strong>Usbports:</strong>
  <%= @laptop.usbports %>
</p>

<p>
  <strong>Videoports:</strong>
  <%= @laptop.videoports %>
</p>

<p>
  <strong>Hdmi:</strong>
  <%= @laptop.hdmi %>
</p>

<p>
  <strong>Audioports:</strong>
  <%= @laptop.audioports %>
</p>

<p>
  <strong>Webcam:</strong>
  <%= @laptop.webcam %>
</p>

<p>
  <strong>Cardreader:</strong>
  <%= @laptop.cardreader %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @laptop.battery %>
</p>

<p>
  <strong>Batterylife:</strong>
  <%= @laptop.batterylife %>
</p>

<p>
  <strong>Color:</strong>
  <%= @laptop.color %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @laptop.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @laptop.weight %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @laptop.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @laptop.other %>
</p>

<%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<%= link_to 'Back', laptops_path %>
