<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @network_adapter.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @network_adapter.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @network_adapter.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @network_adapter.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @network_adapter.brandmodel %>
</p>

<p>
  <strong>Standards:</strong>
  <%= @network_adapter.standards %>
</p>

<p>
  <strong>Wirelessdatarates:</strong>
  <%= @network_adapter.wirelessdatarates %>
</p>

<p>
  <strong>Security:</strong>
  <%= @network_adapter.security %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @network_adapter.interface %>
</p>

<p>
  <strong>Frequencyband:</strong>
  <%= @network_adapter.frequencyband %>
</p>

<p>
  <strong>Channels:</strong>
  <%= @network_adapter.channels %>
</p>

<p>
  <strong>Modulation:</strong>
  <%= @network_adapter.modulation %>
</p>

<p>
  <strong>Transmittedpower:</strong>
  <%= @network_adapter.transmittedpower %>
</p>

<p>
  <strong>Antenna:</strong>
  <%= @network_adapter.antenna %>
</p>

<p>
  <strong>Color:</strong>
  <%= @network_adapter.color %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @network_adapter.systemrequirements %>
</p>

<p>
  <strong>Features:</strong>
  <%= @network_adapter.features %>
</p>

<p>
  <strong>Dimenstions:</strong>
  <%= @network_adapter.dimenstions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @network_adapter.weight %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @network_adapter.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @network_adapter.humidity %>
</p>

<p>
  <strong>Package:</strong>
  <%= @network_adapter.package %>
</p>

<p>
  <strong>Other:</strong>
  <%= @network_adapter.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @network_adapter.warranty %>
</p>

<%= link_to 'Edit', edit_network_adapter_path(@network_adapter) %> |
<%= link_to 'Back', network_adapters_path %>
