<p id="notice"><%= notice %></p>

<h1>Listing Desktop Computers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desktop_computers.each do |desktop_computer| %>
      <tr>
        <td><%= desktop_computer.name %></td>
        <td><%= desktop_computer.price %></td>
        
        <td><%= link_to 'Show', desktop_computer %></td>
        <td><%= link_to 'Edit', edit_desktop_computer_path(desktop_computer) %></td>
        <td><%= link_to 'Destroy', desktop_computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desktop computer', new_desktop_computer_path %>
