<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @desktop_computer.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @desktop_computer.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @desktop_computer.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @desktop_computer.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @desktop_computer.brandmodel %>
</p>

<p>
  <strong>Desktoptype:</strong>
  <%= @desktop_computer.desktoptype %>
</p>

<p>
  <strong>Usage:</strong>
  <%= @desktop_computer.usage %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @desktop_computer.colors %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @desktop_computer.processor %>
</p>

<p>
  <strong>Processormainfeatures:</strong>
  <%= @desktop_computer.processormainfeatures %>
</p>

<p>
  <strong>Cacheperprocessor:</strong>
  <%= @desktop_computer.cacheperprocessor %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @desktop_computer.memory %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @desktop_computer.storage %>
</p>

<p>
  <strong>Opticaldrive:</strong>
  <%= @desktop_computer.opticaldrive %>
</p>

<p>
  <strong>Graphics:</strong>
  <%= @desktop_computer.graphics %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @desktop_computer.audio %>
</p>

<p>
  <strong>Ethernet:</strong>
  <%= @desktop_computer.ethernet %>
</p>

<p>
  <strong>Powersupply:</strong>
  <%= @desktop_computer.powersupply %>
</p>

<p>
  <strong>Keyboard:</strong>
  <%= @desktop_computer.keyboard %>
</p>

<p>
  <strong>Mouse:</strong>
  <%= @desktop_computer.mouse %>
</p>

<p>
  <strong>Os:</strong>
  <%= @desktop_computer.os %>
</p>

<p>
  <strong>Specialfeatures:</strong>
  <%= @desktop_computer.specialfeatures %>
</p>

<p>
  <strong>Cputype:</strong>
  <%= @desktop_computer.cputype %>
</p>

<p>
  <strong>Cpuspeed:</strong>
  <%= @desktop_computer.cpuspeed %>
</p>

<p>
  <strong>L2cachepercpu:</strong>
  <%= @desktop_computer.l2cachepercpu %>
</p>

<p>
  <strong>L3cachepercpu:</strong>
  <%= @desktop_computer.l3cachepercpu %>
</p>

<p>
  <strong>Cpusockettype:</strong>
  <%= @desktop_computer.cpusockettype %>
</p>

<p>
  <strong>Cpumainfeatures:</strong>
  <%= @desktop_computer.cpumainfeatures %>
</p>

<p>
  <strong>Gpuvgatype:</strong>
  <%= @desktop_computer.gpuvgatype %>
</p>

<p>
  <strong>Memorycapacity:</strong>
  <%= @desktop_computer.memorycapacity %>
</p>

<p>
  <strong>Memoryspeed:</strong>
  <%= @desktop_computer.memoryspeed %>
</p>

<p>
  <strong>Memoryspec:</strong>
  <%= @desktop_computer.memoryspec %>
</p>

<p>
  <strong>Memoryslot:</strong>
  <%= @desktop_computer.memoryslot %>
</p>

<p>
  <strong>Maxmemorysupported:</strong>
  <%= @desktop_computer.maxmemorysupported %>
</p>

<p>
  <strong>Hdd:</strong>
  <%= @desktop_computer.hdd %>
</p>

<p>
  <strong>Hddinterface:</strong>
  <%= @desktop_computer.hddinterface %>
</p>

<p>
  <strong>Hddrpm:</strong>
  <%= @desktop_computer.hddrpm %>
</p>

<p>
  <strong>Opticaldrivetype:</strong>
  <%= @desktop_computer.opticaldrivetype %>
</p>

<p>
  <strong>Opticaldrivespec:</strong>
  <%= @desktop_computer.opticaldrivespec %>
</p>

<p>
  <strong>Audiochipset:</strong>
  <%= @desktop_computer.audiochipset %>
</p>

<p>
  <strong>Audiochannels:</strong>
  <%= @desktop_computer.audiochannels %>
</p>

<p>
  <strong>Lanchipset:</strong>
  <%= @desktop_computer.lanchipset %>
</p>

<p>
  <strong>Lanspeed:</strong>
  <%= @desktop_computer.lanspeed %>
</p>

<p>
  <strong>Frontusb:</strong>
  <%= @desktop_computer.frontusb %>
</p>

<p>
  <strong>Ps2:</strong>
  <%= @desktop_computer.ps2 %>
</p>

<p>
  <strong>Videoports:</strong>
  <%= @desktop_computer.videoports %>
</p>

<p>
  <strong>Rearusb:</strong>
  <%= @desktop_computer.rearusb %>
</p>

<p>
  <strong>Rj45:</strong>
  <%= @desktop_computer.rj45 %>
</p>

<p>
  <strong>Rearaudioports:</strong>
  <%= @desktop_computer.rearaudioports %>
</p>

<p>
  <strong>Pcislots:</strong>
  <%= @desktop_computer.pcislots %>
</p>

<p>
  <strong>Mousetype:</strong>
  <%= @desktop_computer.mousetype %>
</p>

<p>
  <strong>Keyboardtype:</strong>
  <%= @desktop_computer.keyboardtype %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @desktop_computer.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @desktop_computer.weight %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @desktop_computer.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @desktop_computer.other %>
</p>

<%= link_to 'Edit', edit_desktop_computer_path(@desktop_computer) %> |
<%= link_to 'Back', desktop_computers_path %>
