<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cd_medium.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cd_medium.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @cd_medium.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @cd_medium.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @cd_medium.brandmodel %>
</p>

<p>
  <strong>Mediatype:</strong>
  <%= @cd_medium.mediatype %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @cd_medium.capacity %>
</p>

<p>
  <strong>Recordtime:</strong>
  <%= @cd_medium.recordtime %>
</p>

<p>
  <strong>Maxspeedsupported:</strong>
  <%= @cd_medium.maxspeedsupported %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cd_medium.quantity %>
</p>

<p>
  <strong>Features:</strong>
  <%= @cd_medium.features %>
</p>

<p>
  <strong>Packaging:</strong>
  <%= @cd_medium.packaging %>
</p>

<p>
  <strong>Other:</strong>
  <%= @cd_medium.other %>
</p>

<%= link_to 'Edit', edit_cd_medium_path(@cd_medium) %> |
<%= link_to 'Back', cd_media_path %>
