<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @amplifier.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @amplifier.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @amplifier.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @amplifier.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @amplifier.brandmodel %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @amplifier.specification %>
</p>

<p>
  <strong>Features:</strong>
  <%= @amplifier.features %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @amplifier.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @amplifier.weight %>
</p>

<p>
  <strong>Other:</strong>
  <%= @amplifier.other %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @amplifier.warranty %>
</p>

<%= link_to 'Edit', edit_amplifier_path(@amplifier) %> |
<%= link_to 'Back', amplifiers_path %>
