
<h1><%= @computer_case.name %></h1>
<p>
  <pre>
  <span class="inner-pre" style="font-size: 15px">
  	<%= @computer_case.code %> <br>	
  	<%= @computer_case.casetype %> <br>
  	<%= @computer_case.brand %> <br>
  	<%= @computer_case.casemodel %> <br>
  	<%= @computer_case.motherboard %> <br>
  	<%= @computer_case.material %> <br>
  	<%= @computer_case.drivebay %> <br>
  	<%= @computer_case.weight %> <br>
  	<%= @computer_case.expansion %> <br>
  	<%= @computer_case.dimensions %> <br>
  	<%= @computer_case.thickness %> <br>
  	<%= @computer_case.iopanel %> <br>
  	<%= @computer_case.cooling %> <br>
  	<%= @computer_case.power %> <br>
  	<%= @computer_case.cpucompatibility %> <br>
  	<%= @computer_case.vgacompatibility %> <br>
  	<%= @computer_case.other%> <br>
  	<%= @computer_case.price %> <br>
  </span> 
  </pre>
  <a href="/computer_cases/<%= @computer_case.id %>/edit">Edit</a>
</p>

