<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @speaker.price %>
</p>

<p>
  <strong>Code:</strong>
  <%= @speaker.code %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @speaker.brand %>
</p>

<p>
  <strong>Brandmodel:</strong>
  <%= @speaker.brandmodel %>
</p>

<p>
  <strong>Speakertype:</strong>
  <%= @speaker.speakertype %>
</p>

<p>
  <strong>Speakerconfig:</strong>
  <%= @speaker.speakerconfig %>
</p>

<p>
  <strong>Power:</strong>
  <%= @speaker.power %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @speaker.frequency %>
</p>

<p>
  <strong>Systemrequirements:</strong>
  <%= @speaker.systemrequirements %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @speaker.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @speaker.weight %>
</p>

<p>
  <strong>Features:</strong>
  <%= @speaker.features %>
</p>

<p>
  <strong>Packagecontents:</strong>
  <%= @speaker.packagecontents %>
</p>

<p>
  <strong>Plug:</strong>
  <%= @speaker.plug %>
</p>

<p>
  <strong>Warranty:</strong>
  <%= @speaker.warranty %>
</p>

<p>
  <strong>Other:</strong>
  <%= @speaker.other %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
