
<h1><%= @burner_reader.name %></h1>
<p>
  <pre><%= @burner_reader.code %> </pre><br>	
  <pre><%= @burner_reader.brand %> </pre><br>
  <pre><%= @burner_reader.productmodel%> </pre><br>
  <pre><%= @burner_reader.cdrom %> </pre><br>
  <pre><%= @burner_reader.dvdrom %> </pre><br>
  <pre><%= @burner_reader.drivetype %> </pre><br>
  <pre><%= @burner_reader.dvdr %> </pre><br>
  <pre><%= @burner_reader.dvdrdl %> </pre><br>
  <pre><%= @burner_reader.dvdmr %> </pre><br>
  <pre><%= @burner_reader.dvdmrdl %> </pre><br>
  <pre><%= @burner_reader.dvdrw %> </pre><br>
  <pre><%= @burner_reader.dvdmrw %> </pre><br>
  <pre><%= @burner_reader.dvdmram %> </pre><br>
  <pre><%= @burner_reader.cdmr %> </pre><br>
  <pre><%= @burner_reader.cdmrw %> </pre><br>
  <pre><%= @burner_reader.dvdzr %> </pre><br>
  <pre><%= @burner_reader.dvdzrdl %> </pre><br>
  <pre><%= @burner_reader.dvdzrw %> </pre><br>
  <pre><%= @burner_reader.os %> </pre><br>
  <pre><%= @burner_reader.buffer %> </pre><br>
  <pre><%= @burner_reader.disc %> </pre><br>
  <pre><%= @burner_reader.cdda %> </pre><br>
  <pre><%= @burner_reader.mmcd %> </pre><br>
  <pre><%= @burner_reader.other %> </pre><br>
  <pre><%= @burner_reader.price %> </pre><br>
  <a href="/burner_readers/<%= @burner_reader.id %>/edit">Edit</a>
</p>

